<h4>Gestión de Rutas</h4>

<table class="table table-striped table-hover">

    <!-- Encabezado de la tabla -->
  <thead class="thead-light table-primary">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Ciudad Origen</th>
        <th scope="col">Ciudad Destino</th>
        <th scope="col">Distancia total (km)</th>
        <th scope="col">Conductor</th>
        <th scope="col">Autobus</th>
        <th scope="col"></th>
    </tr>
  </thead>

  <!-- Dejo el elemento que se llena con el script -->
  <tbody id="tbody">
    @for (ruta of rutas; track ruta.id){
        <tr>
            <th scope="row">{{ ruta.id }}</th>
            <td>{{ ruta.nombre }} </td>
            <td>{{ ruta.origen }} </td>
            <td>{{ ruta.destino }} </td>
            <td>{{ ruta.distanciaKm }} </td>
            <td> Conductor  </td>
            <td> Autobus  </td>
            <td>
                <!-- <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/conductores-detalle',conductor.id]">Modificar</button> -->
                <button class="btn btn-danger btn-sm ms-2" (click)="borrarRuta(ruta.id)">Eliminar</button>
            </td>
        </tr>
    }
  </tbody>
</table>